<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <nav>
        <ul>
          <li><a routerLink="/home-component" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
          <li><a routerLink="/contatos-component" routerLinkActive="active" ariaCurrentWhenActive="page">Contatos</a></li>
          <li><a routerLink="/sobre-component" routerLinkActive="active" ariaCurrentWhenActive="page">Sobre</a></li>
      
        </ul>
      </nav>
</body>
</html>